
@model WebApplication1.Models.Student

<div class="container-fluid">
    <h4>Add New Student</h4>
    <form class="col-md-12" name="my-form" asp-controller="Home" asp-action="AddNewStudent">

        @*Add student Name*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <label for="full_name" class="col-md-12 col-form-label text-md-right">Full Name</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.studentName, new { htmlAttributes = new { @class = "form-control" } })
                @*Display validation messages if any*@
                @Html.ValidationMessageFor(m => m.studentName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Select batch*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <label for="batch" class="col-md-12 col-form-label text-md-right">Batch</label>
            <div class="col-md-12">
                @*Store all batch in list*@
                @{
                    List<WebApplication1.Models.Batch> list = ViewBag.Batches;
                    var items = new SelectList(list, "batchId", "batchName");
                }
                @*Display batch as dropdown list*@
                @Html.DropDownListFor(x => x.batchId, @items,"Nil", new { htmlAttributes = new { @class = "form-control" } })
                @*Display validation messages if any*@
                @Html.ValidationMessageFor(x => x.batchId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
                Register
            </button>
        </div>
    </form>
</div>


